/**
 *
 */
html, body, form { 
    margin: 0; padding: 0; 
}
body { 
    font-family: arial, sans-serif; 
    background-color: #fff;
}

a:link { 
    text-decoration: none; 
    color: #00f; 
}
a:visited { 
    text-decoration: none; 
    color: #639; 
}
a:hover { 
    text-decoration: underline; 
}
a:active { 
    text-decoration: underline; 
}

form p.hint {
    margin: 0;
    padding: 0.25em 1em;
    font-weight: bold;
}

form {
    margin: 0; padding: 0;
}

form ul {
    list-style-type: none;
}
form ul li {
    clear: both;
}
form ul li label {
    width: 10ex;
    text-align: right;
    float: left;
    display: block;
    padding: 0.5em 0.5em 0.5em 0;
}
form ul li label:after {
    content: ': ';
}
form ul li label.hidden:after {
    content: '';
}
form ul li.hidden {
    display: none;
}
form ul li.input input,
form ul li.password input {
    margin: 0.5em 0em;
    width: 75ex;
}
form ul li.submit input {
    margin: 0.5em 0em;
}
form ul textarea {
    font-family: arial, sans-serif;
    font-size: 100%; 
    width: 75ex;
}
form ul li.captcha input {
    width: 10ex;
    clear: right;
    display: block;
}
form ul li.captcha img {
}


form fieldset {
    margin: 0.25em;
    padding: 0.25em;
}
form fieldset ul {
    list-style-type: none;
}
form fieldset ul li {
    clear: both;
}
form fieldset ul li label {
    width: 18ex;
    text-align: right;
    float: left;
    display: block;
    padding: 0.5em 0.5em 0.5em 0;
}
form fieldset ul li label:after {
    content: ': ';
}
form fieldset ul li label.hidden:after {
    content: '';
}
form fieldset ul li.hidden {
    display: none;
}
form fieldset ul li.input input,
form fieldset ul li.password input {
    margin: 0.5em 0em;
    width: 75ex;
}
form fieldset ul li.submit input {
    margin: 0.5em 0em;
}
form fieldset ul textarea {
    font-family: arial, sans-serif;
    font-size: 100%; 
    width: 75ex;
}
form fieldset ul li.captcha input {
    width: 10ex;
    clear: right;
    display: block;
}
form fieldset ul li.captcha img {
}

#header {
    font-size: 75%;
    margin: 0.5em 1.5em 0.5em 1.5em; 
    padding: 0 0 0 0;
    height: 80px;
    position: relative;
}
#header .logo {
    float: left;
}
#header .logo span:before {
    font-size: 75px;
    content: '\2756';
}
#header .logo span {
    padding: 0 15px 0 10px;
}
#header .crumbs {
    font-size: 200%;
    padding: 0.25em 0 0 0;
}
#header .crumbs .title {
    display: inline;
    font-weight: bold;
}
#header .main {
    margin: 0 0 0 0;
    padding: 0.75em 0 0 0;
    position: absolute;
    left: 85px;
    bottom: 1.25em;
}
#header .main .nav {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;    
}
#header .main .nav li {
    display: inline;
    border-left: 1px solid #000; 
    margin-left: 0.25em;
    padding-left: 0.5em;
}
#header .main .nav li.first {
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
}
#header .main .title {
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0;    
}
#header .sub {
    position: absolute;
    right: 0;
    bottom: 1.25em;
    margin: 1.25em 0 0 0;
    padding: 0 0 0 0;
}
#header .sub .nav {
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
}
#header .sub .nav li {
    display: inline;
    border-left: 1px solid #000; 
    margin-left: 0.25em;
    padding-left: 0.5em;
}
#header .sub .nav li.first {
    border: none;
    padding: 0;
    margin: 0;
}
#infobar {
    font-size: 75%;
    margin: 0.5em 1.5em 1.5em 1.5em; 
    padding: 0.5em 0.8em; 
    background-color: #eee; 
    border: 1px solid #ccc; 
    border-left: none;
    border-right: none;
}
#middle {
    position: relative;
}
#content {
    font-size: 75%;
    margin: 0em 1.5em 0em 1.5em; 
}

.with_sidebar #content {
    margin-right: 20.5em;
}
.with_sidebar #content .pagination {
    margin-right: -19em;
}
#sidebar {
    font-size: 75%;
    position: absolute;
    top: 0;
    right: 1.5em;
    width: 18em;
}
#sidebar div {
    background-color: #eee; 
    border: 1px solid #ccc; 
    border-left: none;
    border-right: none;
    margin: 0em 1.5em 0em 1.5em; 
    padding: 0 1em 0 1em;
}

#footer {
    position: relative;
    font-size: 75%;
    margin: 0em 1.5em 1.5em 1.5em;
    padding: 0.5em 0 0 0; 
    background-color: #eee; 
}
#footer .nav {
    background-color: #fff; 
    margin: 0 0 0 0;
    padding: 0.5em 0 0 0;
    border-top: 1px solid #ccc; 
    list-style: none;    
}
#footer .nav:before {
    content: "\2756";
}
#footer .nav li {
    display: inline;
    border-left: 1px solid #000; 
    margin-left: 0.25em;
    padding-left: 0.5em;
}
#footer .nav li.first {
    font-weight: bold;
    border: none;
    padding: 0;
    margin: 0;
}
#footer .license {
    position: absolute;
    top: 1em;
    right: 0;
}
#footer .license img {
    border: 0;
}

.posts {
    clear: both;
    margin: 0em 0em 1.5em 0em; 
    padding: 0 0 0 0;
    list-style: none;
}
.posts .post {
    clear: both;
    padding: 0.25em 0 0.75em 0;
}
.posts .post .title {
    margin: 0; padding: 0;
    font-weight: normal;
    font-size: 132%;
}
.posts .post .notes {
    margin: 0.125em 0.0em 0.125em 0.0em; 
    padding: 0 0 0 0;
}
.posts .post .meta {
    color: #999;
}
.posts .post .meta a { 
    color: #99F; 
}
.posts .post .tags:before {
    content: ' to ';
}
.posts .post .tags {
    display: inline;
    margin: 0; padding: 0;
}
.posts .post .tags .tag {
    display: inline;
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0.25ex 0 0.25ex;
    margin: 0 0 0 0;
}
.posts .post .author:before {
    content: ' by ';
}
.posts .post .author {
}
.posts .post .date:before {
    content: ' ... on ';
}
.posts .post .date {
}
.posts .post .commands:before {
    content: ' ... ';
}
.posts .post .commands {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;    
    display: inline;
}
.posts .post .commands li {
    display: inline;
    /*
    border-left: 1px solid #000; 
    */
    margin-left: 0;
    padding-left: 0;
}
.posts .post .commands li:before {
    content: ' / ';
}
.posts .post .commands li.first {
    border: none;
    padding: 0;
    margin: 0;
}
.posts .post .commands li.first:before {
    content: '';
}

.pagination {
    clear: both;
    margin: 0.5em 0em 0em 0em; 
    padding: 0.5em 0 0.5em 0;
    color: #666;
    text-align: center;
    background-color: #eee; 
    border-top: 1px solid #ccc; 
}
.pagination .pages {
    /* background-color: #fff; */
    margin: 0 0 0em 0;
    padding: 1.0em 0 0.75em 0;
    list-style: none;    
}
.pagination .pages li {
    display: inline;
}
.pagination .pages li.page {
    display: inline;
    margin: 0 0.125em 0 0.125em;
}
.pagination .pages li.page a, 
.pagination .pages li.page span.current {
    border: 1px solid #ccc;
    padding: 0 0.5em 0 0.5em;    
}
.pagination .pages li.page span.current {
    background: #ccc;
    font-weight: bold;
    color: #333;
}
.pagination .pages li:after.page {
    content: ' | ';
}
.pagination .pages li.previous {
    padding-right: 0.5em;
}
.pagination .pages li.previous:before {
    content: '\00AB';
}
.pagination .pages li.next {
    padding-left: 0.5em;
}
.pagination .pages li.next:after {
    content: '\00BB';
}
.pagination .page_position {
    /* background: #fff; */
}
.pagination .page_size {
    margin-top: 1.0em;
}
.pagination .page_size .page_size_choices {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
}
.pagination .page_size .page_size_choices li:before {
    content: ', ';
}
.pagination .page_size .page_size_choices li.first:before {
    content: "";
}
.pagination .page_size .page_size_choices li {
    margin: 0; padding: 0;
    display: inline;
}
.pagination .page_size .page_size_choices li.selected {
}
.pagination .page_size .page_size_choices li.selected span {
    font-weight: bold;
}

.pagination_mini {
    margin: 0 0em 1.5em 0em; 
    padding: 0 0 0 0;
    list-style: none;    
    color: #999;
}
.pagination_mini li {
    display: inline;
}
.pagination_mini .next:before {
}
.pagination_mini .next:after {
    content: '\00BB';
}
.pagination_mini .next {
}
.pagination_mini .next .disabled {
}
.pagination_mini .previous:before {
    content: '\00AB';
}
.pagination_mini .previous:after {
    content: ' | ';
}
.pagination_mini .previous {
}
.pagination_mini .previous .disabled {
}
.pagination_mini .page {
    padding-left: 1.5em;
}

.doc_content {
    font-size: 115%;
    padding: 0 85px 0 85px;
    line-height: 1.75em;
}

#ctrl_post_act_save form {
    /* width: 110ex; */
}
#ctrl_post_act_save form fieldset dl dt {
    width: 11ex;
}
#ctrl_post_act_save form fieldset dl dd {
    margin-left: 12ex;
}

#ctrl_auth_act_login form {
    width: 110ex;
}
#ctrl_auth_act_login form fieldset dl dt {
    width: 12ex;
}
#ctrl_auth_act_login form fieldset dl dd {
    margin-left: 13ex;
}

.ctrl_profile form {
    width: 110ex;
}

#sidebar .section {
    margin: 0 0 1.5em 0;
    padding: 1em;
}
#sidebar .section h4 {
    font-size: 120%;
    margin: 0em 0 0.5em 0;
    padding: 0 0 0 0;
}
#sidebar .section ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#sidebar .section ul li {
    list-style: none;
    line-height: 1.5em;
}
#sidebar .top_tags ul li .count {
    float: left;
    width: 6ex;
    text-align: right;
}
#sidebar .top_tags ul li .tag {
    padding-left: 0.75em;
}

#ctrl_install_act_index #config_src {
    padding: 0em 1em 0em 2em;
}
