.DS_Store
.svn
tmp
build
Thumbs.db
*.bak
*.pyc
*.swp
*.swo
xfers/
application/cache/
application/tests/log/
logs/
logs/*log
application/config/config-local.php
application/config/config-testing.php
httpd.conf
.htaccess
